body {
    margin-top: 150px;
    margin-left: 18vw;
    background-color: #39a2db;
}

.back-button {
    position: absolute;
    top: 8px;
    left: 14px;
    cursor: pointer;
    color: #333;
    width: 50px;
    height: 50px;
    background-color: #b05b24;
    clip-path: polygon(45% 0%, 40% 36%, 100% 32%, 100% 70%, 40% 63%, 45% 100%, 0% 50%);
}

.back-button:hover {
    opacity: 0.7;
}